
  <div class="d-flex  w-100 header">
    <img [src]="cheminImage" alt="Logo GE2CO" class="logoprincipale" />
    <div class="d-flex flex-column justify-content-between ">
      <span class="mt-2">Date </span>
      <span class="mb-2">Version App </span>
    </div>
    <div class="d-flex  align-items-start  ">
      <img [src]="userLoginIcon" alt="Icon login user " class="iconloginUser" />
      <div class="d-flex flex-column mt-2">
        <span>UserName</span>
        <span>Role</span>
      </div>
    </div>

    <div class="d-flex  align-items-center bg-secondary w-75  mt-5">
        <div>
      <div class="d-flex  align-items-start mr-3 ">
        <img [src]="userBell" alt="Icon login user " class="userBell" />
      </div>
      <div class="d-flex  align-items-start  ">
        <img [src]="settingsIcon" alt="settings Icon" class="settingIcon" />
      </div>
      <div class="d-flex  align-items-start mr-3 ">
        <img [src]="helpIcon" alt="help Icon" class="aide" />
      </div>
        </div>
      <app-menu></app-menu>
    </div>

  </div>

